# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Fluid Simulation 3.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Vusal\Desktop\Men oyunlari bura atacam\Fluid Simulation 3\.idea\.idea.Fluid Simulation 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
